.card{
    height: 400px;
    width: 380px;
    margin: 1rem;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    }
    
    /* .card > .img-container{
        width: 350px;
        height: 350px;
        overflow: hidden;
    
    } */
/*     
    .imgclass{
        top: 30%;
        left: 30%;
        position: absolute;
        max-width: 100%;
        width: 100%;
        height: auto;
        transform: translate( -30%, -30%);
    } */